<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shoulderrom">
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="ShoulderROM"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".PlayerActivity"
            android:screenOrientation="sensor"
            android:exported="false" />

    </application>
</manifest>
